.form__control {
  display: flex;
  flex-direction: column;
}

.form__input {
  position: relative;
  margin: 0 auto 1em;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
  font-family: Tomorrow, sans-serif;

  .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: var(--black-color);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: var(--yellow-color);
    box-shadow: inset 0 -1px 0 var(--black-color);
    color: var(--black-color);
    transition: all 0.15s ease;

    &:hover {
      background: rgba(var(--blue-color), 0.04);
      box-shadow: inset 0 -1px 0 rgba(var(--blue-color), 0.8);
    }

    &:not(:placeholder-shown) + .label {
      color: rgba(var(--blue-color), 0.5);
      transform: translate3d(0, -12px, 0) scale(0.75);
    }

    &:focus {
      background: rgba(var(--black-color), 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 var(--blue-color);

      + .label {
        color: var(--black-color);
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
      + .focus-bg {
        transform: scaleX(1);
        transition: all 0.1s ease;
      }
    }
  }
}
