.filter__button {
  width: 80px;
  height: 30px;
  border: 0;
  margin-bottom: 1em;
  outline: none;
  background-color: var(--black-color);
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);

  &--active,
  &:hover {
    color: var(--white-color);

    .filter__button__content {
      background-color: red;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: var(--yellow-color);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }

  &__label {
    font-size: 0.4rem;
    position: absolute;
    bottom: -1px;
    right: 8%;
    padding: 0 5px;
    background-color: var(--yellow-color);
    color: var(--black-color);
    z-index: 3;
    border-left: 1px solid var(--blue-color);
  }
}
