*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #fafafa;
}

@font-face {
  src: url(fonts/Cyberpunk.ttf);
  font-family: Cyberpunk;
}

.App {
  background-color: var(--yellow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
h1 {
  color: var(--black-color);
  text-shadow: 2px 2px 1px var(--blue-color);
  text-align: center;
  font-size: 3em;
  font-family: Cyberpunk;
  word-spacing: 1em;
  margin-bottom: 0.5em;
}
