*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #fafafa;
}

@font-face {
  src: url(fonts/Cyberpunk.ttf);
  font-family: Cyberpunk;
}

.App {
  background-color: var(--yellow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header__glitch {
  color: var(--black-color);
  // text-shadow: 2px 2px 1px var(--blue-color);
  text-align: center;
  font-size: 3.2em;
  font-family: Cyberpunk;
  word-spacing: 1em;
  margin: 0.5em auto;
  position: relative;

  text-shadow: 0.05em 0 0 var(--red-color),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 var(--blue-color);

  animation: glitch 1500ms infinite;

  span {
    position: absolute;
    top: 0;
    left: 0;

    &:first-child {
      animation: glitch 650ms infinite;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      transform: translate(-0.025em, -0.0125em);
      /* color: green; */
      opacity: 0.8;
    }

    &:last-child {
      animation: glitch 375ms infinite;
      clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
      transform: translate(0.0125em, 0.025em);
      /* color: red; */
      opacity: 0.8;
    }
  }

  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 var(--red-color),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 var(--blue-color);
    }
    14% {
      text-shadow: 0.05em 0 0 var(--red-color),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 var(--blue-color);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 var(--red-color),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0var (--blue-color);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 var(--red-color),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 var(--blue-color);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 var(--red-color),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 var(--blue-color);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 var(--red-color),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 var(--blue-color);
    }
    100% {
      text-shadow: -0.025em 0 0 var(--red-color),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 var(--blue-color);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
}
